<div class="wrapper">
  <img class="logo" src="assets/fonts/lilibert-logo.svg" alt="Lilibert logo">
  <div class="container">
    <div class="portrait octogon"><img src="{{ currentUser.picture }}"></div>
    <h2 id="title">Password</h2>
    <p class="instruction">{{ 'Setting.currentPasswordLabel' | translate }}</p>
    <input ng-model="user.currentPassword" type="password" name="password" required="required" data-schema-key="password" maxlength="50" placeholder="{{ 'Setting.currentPassword' | translate }}" autofocus>
    <p class="instruction">{{ 'Setting.newPasswordLabel' | translate }}</p>
    <input ng-model="user.newPassword" type="password" name="password" required="required" data-schema-key="password" maxlength="50" placeholder="{{ 'Setting.newPassword' | translate }}" autofocus>
    <input ng-model="user.confirm" type="password" name="confirm" required="required" data-schema-key="password" maxlength="50" placeholder="{{ 'Setting.confirmation' | translate }}" autofocus>
    <a class="more" ui-sref="setting.account">Edit my account</a>
  </div>
</div>
